# Azure AI Foundry / APIM Demo
PROJECT_ENDPOINT=
AOAI_ENDPOINT=https://ai-apim-demo-jp-001.cognitiveservices.azure.com/
MODEL_NAME=gpt-4o
AZURE_SUBSCRIPTION_ID=06c76c82-8db9-4106-b3c0-2e90af4bdd04
RESOURCE_GROUP=rg-apim-providence-demo-jp-001

# APIM Gateway
APIM_GATEWAY_URL=https://apim-providence-demo-jp-001.azure-api.net
APIM_SUBSCRIPTION_KEY=

# Application Insights
APPINSIGHTS_APP_ID=
APPINSIGHTS_RESOURCE_NAME=appinsights-apim-demo-jp-001

# Flask
FLASK_SECRET_KEY=change-me-in-production
